<?xml version="1.0"?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2023-present JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jajuma" translate="label" class="jajuma-tab" sortOrder="10">
            <label>Jajuma</label>
        </tab>
        <section id="power_toys" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Power Toys</label>
            <tab>jajuma</tab>
            <resource>Jajuma_PotWeather::config_jajuma_powertoy</resource>
            <group id="hyva_inline_css" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hyvä Inline Css</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>